
# Ignore compiled classes
*.class

# Ignore build outputs
target/
build/

# Ignore packaged artifacts
*.jar
*.war
*.ear

# Logging
*.log
logs/
spring.log

# IDE settings
### IntelliJ ###
.idea/
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/
bin/
tmp/

### VS Code ###
.vscode/

# OS files
.DS_Store
Thumbs.db


# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat



# DO NOT upload secrets to GitHub!
*.env
.env
.env.*
application-local.properties
application-prod.properties
application-test.properties
application-*.yml
application-*.yaml



uploads/
static/uploads/
media/
temp/
files/

# Spring Boot production secrets
src/main/resources/application-prod.properties
.factorypath
/.factorypath
